:root{
    --mainColour:#eaeaea;
    --secondaryColour:#fff;
    --borderColour:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;
    --themeDotBorder:#24292e;
    --previewBg: rgb(252, 249, 243,0.8);
    --previewShadow: #f0ead6;
    --submitButton: #f0ead6;
    --buttonColor: black;
}


html, body{
    padding: 0%;
    margin: 0;
}


h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
    colour:#17a2b8;
}

ul{
    list-style: none;
}
h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}


.s1{
    background-color: var(--mainColour);
    border-bottom:1px solid var(--borderColour);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColour);
    border-bottom:1px solid var(--borderColour);
    overflow: auto;

}
.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 1 0em;
}

.intro-wrapper{
    background-color: var(--secondaryColour);
    border: 1px solid var(--borderColour);
    border-radius: 5px 5px 0 0;

    box-shadow: 69px 45px 5px -11px rgba(0,0,0,0.41);
-webkit-box-shadow: 69px 45px 5px -11px rgba(0,0,0,0.41);
-moz-box-shadow: 69px 45px 5px -11px rgba(0,0,0,0.41);
display: grid;
grid-template-columns: 1fr 1fr;

grid-template-areas: 
'nav-wrapper nav-wrapper'
'left-column right-column'
}
.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColour);
}

#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.dots-wrapper{
    display: flex;
    padding: 10px;

}
#dot-1{
    background-color: #FC6058;
}
#dot-2{
    background-color: #Fec02f;
}
#dot-3{
    background-color: #2ACA3E;
}

.browser-dot{
    background-color: black;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 29px 32px 29px -16px rgba(0,0,0,0.41);
-webkit-box-shadow: 29px 32px 29px -16px rgba(0,0,0,0.41);
-moz-box-shadow: 29px 32px 29px -16px rgba(0,0,0,0.41);
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#profile_picture{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColour);
}

#theme-options-wrapper{
    display: inline-flexbox;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    border: 2px solid var(--themeDotBorder)
    box-shadow: 29px 32px 29px -16px rgba(0,0,0,0.41);
-webkit-box-shadow: 29px 32px 29px -16px rgba(0,0,0,0.41);
-moz-box-shadow: 29px 32px 29px -16px rgba(0,0,0,0.41);

cursor: pointer;
}
.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7E4C74;
}
#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 240px;
    padding-left: 30px;
    padding-right: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}
.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 2fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img{
    width: 80%;
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}
.post{
    border: 1px solid var(--borderColour);
    box-shadow: 43px 38px 51px 18px rgba(0,0,0,0.58) inset;
-webkit-box-shadow: 43px 38px 51px 18px rgba(0,0,0,0.58) inset;
-moz-box-shadow: 43px 38px 51px 18px rgba(0,0,0,0.58) inset;
}

.thumbnail{
    display: solid;
    width: 50%;
    height: 80px;
    object-fit: cover;
}
.post-preview{
    background-color: #fff;
    padding: 13px;
}

.post-title{
    color: black;
    margin: 0;
}
.post-intro{
    color: #4b5156;
    font-size: 15px;
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solidvar(--borderColour);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColour);
    margin-bottom: 50px;
}
#contact-form label{
    line-height: 2.7em;
}
#contact-form textarea{
    min-height: 100px;
    front-size: 12px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColour);
    border-radius: 5px;
    border: 1px solid var(--borderColour);
    font-size: 12px;
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}


@media and (max-width; 1200px) {
    .main-container{
        width: 95%;
    }
    
}
@media and (max-width; 800px){
    .intro-wrapper{
        
    grid-template-columns: 1fr ;
    
    grid-template-areas: 
    'nav-wrapper'
    'left-column'
    ' right-column'
    ;
    }
    .right-column{
        justify-content: center;
    }
}